html , body{
    width: 100%;
    padding: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #0061ff;
    text-decoration: none;
}
.alert-success-message{
    display: none;
}
.alert-danger-message{
    display: none;
    text-align: left;
}