.form-main-heading{
    font-size: 22px;
    font-weight: 700;
}
.form-field{
    margin-bottom: 20px;
}
.form-field img{
    width: 65px;
    height: 65px;
    border: 1px solid #d0d0d0;
}
.form-field-heading{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
}
.form-button{
    margin-top: 10px;
    padding: 10px 20px;
}
@media only screen and (max-width: 750px){
    .form-container .column{
        width: 100%;   
        padding: 0;
    }
}