.form-main-heading{
    font-size: 18px;
    font-weight: 1000;
}
.form-field{
    margin-bottom: 10px;
}
.form-field-text{
    font-size: 14px !important;
    padding: 4px 10px !important;
    height: 33px !important;
}
.form-field-textarea{
    font-size: 14px !important;
    padding: 4px 10px !important;
}
.form-field-file{
    font-size: 14px;
}
.form-field img{
    width: 65px;
    height: 65px;
    border: 1px solid #d1d1d1;
}
.form-field .carouselofferimage{
    width: 105px;
    height: 40px;
}
.modal-body .updateimage{
    width: 150px;
    height: 150px;
    border: 1px solid #d1d1d1;
}
.modal-body .carouselofferimage{
    width: 210px;
    height: 80px;
}
.form-field-heading{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
}
.form-button{
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 14px;
}
label.error{
    color: red;
}
.fa-backward{
    margin-right: 5px;
}
.fa-forward{
    margin-left: 5px;
}
.form-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-undo{
    margin-right: 5px;
}
.update-image-button{
    width: 200px;
    margin-top: 20px;
    padding: 7px 15px;
    font-size: 15px;
}
.update-image-container{
    display: flex;
    flex-direction: column;
}
.category-logo-container{
    display: none;
}
.form-field-inline-remarks{
    display: flex;
    flex-direction: row;
}
.form-field-checkbox{
    margin-right: 30px;
}
.form-field-radiobutton{
    margin-right: 30px;
}
.form-field-checkbox-label{
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.form-field-checkbox-remarks-label{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.form-field-checkbox input[type="checkbox"]{
    margin-right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.form-field-radiobutton-remarks-label{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.form-field-radiobutton input[type="radio"]{
    margin-right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.readonly-bg-color{
    background-color: #fff !important;
}
@media only screen and (max-width: 750px){
    .form-container .column{
        width: 100%;   
        padding: 0;
    }
}