.update-profile-form{
    margin: auto;
    width: 500px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.updateprofile-fields-heading{
    font-size: 17px;
    font-weight: 700;
    margin: 12px 0 3px 0;
}
.update-profile-form input{
    height: 35px;
    font-size: 16px;
}
#updateprofilebutton{
    margin-top: 18px;
    background-color: #044D6E;
    height: 35px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #044D6E;
    border-radius: 4px;
    cursor: pointer;
}
#updateprofilebutton:hover{
    background-color: #033349;
}
@media only screen and (max-width: 580px){
    .update-profile-form{
        width: 100%;
    }
}