.viewitems-tableview{
    overflow-x: auto;   
}    
.viewitems-main-heading{
    font-size: 20px;
    font-weight: 700;
}
.viewitems-main-heading-count{
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-left: 5px !important;
}
.viewitems-table-count{
    font-size: 13px !important;
    font-weight: 800 !important;
    margin-left: 5px !important;
}
.btn{
    color: #fff;
}
thead tr{
    background-color: #044D6E;
    color: #fff;
}
th{
    border: 1px solid #0b78aa !important;
    text-align: center;
    vertical-align: top;
    padding: 10px !important;
    font-size: 12px;
    font-weight: bold;
}
td{
    text-align: center;
    vertical-align: top;
    padding: 5px !important;
    font-size: 11px;
    font-weight: 500;
}
td .btn{
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 700;
}
td img{
    width: 40px;
    height: 40px;
    border: 1px solid #d1d1d1;
}
td .carouselofferimage{
    width: 105px;
    height: 40px;
}
.viewitems-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.viewitems-header-searchbar-container{
    display: flex;
    flex-direction: row;
}
.viewitems-header-searchbar-filter{
    width: 230px;
    margin-right: 10px;
}
.viewitems-header-searchbar{
    width: 350px;
    display: none;
}
.viewitems-header-searchbar-container #searchbar{
    background-image: url('/images/searchicon.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 20px 20px;
    padding-left: 36px;
    font-size: 14px !important;
    height: 33px !important;
}
.fa-edit{
    margin-right: 5px;
}
.fa-trash{
    margin-right: 5px;
}
.highlight-column{
    background-color: #D7DBFF;
}
.highlight-row{
    background-color: #D7DBFF;
}
#tablebody tr:hover{
    background-color: #D7DBFF;
    cursor: pointer;
}
.active-item{
    color: #117C00;
    font-weight: 700;
}
.deactive-item{
    color: #FF0000;
    font-weight: 700;
}
.available-offer{
    color: #117C00;
    font-weight: 700;
}
.pending-offer{
    color: #0000ff;
    font-weight: 700;
}
.expired-offer{
    color: #FF0000;
    font-weight: 700;
}