.viewitems-tableview{
    overflow-x: auto;   
}    
.viewitems-main-heading{
    font-size: 22px;
    font-weight: 700;
}
.viewitems-main-heading-count{
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-left: 5px !important;
}
.btn{
    color: #fff;
}
th,td{
    text-align: center;
    vertical-align: top;
    padding: 10px !important;
    font-size: 13px;
}
td .btn{
    height: 32px !important;
    font-size: 12px;
    font-weight: 500;
}
td img{
    width: 50px;
    height: 50px;
    border: 1px solid #d1d1d1;
}
.viewitems-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.viewitems-header-searchbar-container{
    display: flex;
    flex-direction: row;
}
.viewitems-header-searchbar-filter{
    width: 230px;
    margin-right: 10px;
}
.viewitems-header-searchbar{
    width: 350px;
    display: none;
}
.viewitems-header-searchbar-container #searchbar{
    background-image: url('/images/searchicon.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 22px 22px;
    padding-left: 38px;
}
.fa-edit{
    margin-right: 5px;
}
.fa-trash{
    margin-right: 5px;
}
.highlight-column{
    background-color: #E1FF8F;
}