.viewitems-tableview{
    overflow-x: auto;   
}    
.viewitems-main-heading{
    font-size: 20px;
    font-weight: 700;
}
.viewitems-main-heading-count{
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-left: 5px !important;
}
.viewitems-table-count{
    font-size: 13px !important;
    font-weight: 800 !important;
    margin-left: 5px !important;
}
.btn{
    color: #fff;
}
th{
    text-align: center;
    vertical-align: top;
    padding: 10px !important;
    font-size: 13px;
    font-weight: 700;
}
td{
    text-align: center;
    vertical-align: top;
    padding: 5px !important;
    font-size: 12px;
    font-weight: 400;
}
td .btn{
    padding: 7px 10px;
    // height: 28px !important;
    font-size: 10px;
    font-weight: 700;
}
td img{
    width: 40px;
    height: 40px;
    border: 1px solid #d1d1d1;
}
.viewitems-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.viewitems-header-searchbar-container{
    display: flex;
    flex-direction: row;
}
.viewitems-header-searchbar-filter{
    width: 230px;
    margin-right: 10px;
}
.viewitems-header-searchbar{
    width: 350px;
    display: none;
}
.viewitems-header-searchbar-container #searchbar{
    background-image: url('/images/searchicon.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 20px 20px;
    padding-left: 36px;
    font-size: 14px !important;
    height: 33px !important;
}
.fa-edit{
    margin-right: 5px;
}
.fa-trash{
    margin-right: 5px;
}
.highlight-column{
    background-color: #E1FF8F;
}